<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <title>Playlist Details</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
<div class="container">
    <div class="row justify-content-between align-items-center mb-4">
        <div class="col-md-4">
            <h1 th:text="${playlist.name}">Playlist Details</h1>
        </div>
        <div class="col-md-4 text-center">
            <h3>Welcome <span sec:authentication="name"></span></h3>
        </div>
        <div class="col-md-4 text-right">
            <form th:action="@{/logout}" method="post">
                <input type="submit" value="Sign Out" class="btn btn-sm btn-danger" />
            </form>
        </div>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Artist</th>
                <th>Duration</th>
                <th>Genre</th>
                <th sec:authorize="hasAuthority('ADMIN')"></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="song : ${playlist.songs}">
                <td th:text="${song.name}"></td>
                <td th:text="${song.artist}"></td>
                <td th:text="${song.duration}"></td>
                <td th:text="${song.genre.name}"></td>
                <td sec:authorize="hasAuthority('ADMIN')">
                    <a class="btn btn-danger btn-sm" th:href="@{/playlist/{playlistid}/deleteSong/{id}(playlistid=${playlist.playlistid}, id=${song.id})}">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="row justify-content-between">
        <div class="col-md-4">
            <a class="btn btn-success btn-sm" th:href="@{/playlist/{playlistid}/addSong(playlistid=${playlist.playlistid})}">Add Song to Playlist</a>
        </div>
        <div class="col-md-8 text-right">
            <a class="btn btn-info btn-sm" th:href="@{/songlist}">Go To Songlist</a>
            <a class="btn btn-info btn-sm" th:href="@{/playlists}">Go To Playlists</a>
            <a class="btn btn-info btn-sm" th:href="@{/index}">Go To Main Page</a>
        </div>
    </div>
</div>
</body>
</html>
